$backgroundColor:#F2F2F2;
$WidthAndTypeDishBorder:2px solid;
$MarginBtweenDishs:2px 0 2px; 
$LighterBlue:#6D73AB;
$Blue:#2d3047;
$Purple:#c0b9dd;
$Pink:#D81159;
$LighterPink:#FF6382; 
$Gray:#c4c4c4;
$OrderListBorder: 2px solid $Gray;
$NumberColor:#42B3BA;
$Green:#00A856;
$LightGray:#F2F2F2;
$SubmitButtonBackGround:#A32C23;
$NavBarBackGround: #222222;

*{
  -webkit-transition-timing-function: ease;
  transition: 0.5s;
  // background-color: $backgroundColor;
  input{
    text-align: center;
  }
    body { 
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      .NavBarDiv{
          font-size: larger;
          letter-spacing: 2px;
          background-color: $NavBarBackGround;
          height: 150px;
          padding: 0;
          height: 100%;
          width:100%;
          border-radius: 0;
            .NavBarLeftButton{
              width: 49.7%;
              height: 43px;
              color: white;
              text-align: center;
              background-color:$NavBarBackGround;
              padding-top: 9px;
              display: inline-block;
              border-right: 2px solid #c4c4c4;
                .NavBarOrderButton{
                  width: 49%;
                  margin: auto;
                  background-color: $NavBarBackGround;
                }
            }
            .NavBarRightButton{
              width: 49.7%;
              height: 43px;
              color: white;
              text-align: center;
              background-color:$NavBarBackGround;
              padding-top: 9px;
              display: inline-block;
              .NavBarBoardButton{
                background-color:$NavBarBackGround;
                width: 49%;
                margin: auto;
              }
            }
        }
        .OrderPage{
          padding-top: 15px;
          text-align: center;
          height: 1300px;
          background-color: $backgroundColor;
          height: 100%;
          input{
            background-color:  $backgroundColor;
          }
          .NewOrder{
            text-align: center;
            box-shadow: 0px 0px 25px #888888;
            height:660px;
            background-color:  $backgroundColor;
            display:'inline-block';
            overflow:'auto';
            margin:30px;
            margin-left: 60px;
            max-width: 400px;
            padding-bottom: 25px;
            padding-top:5px;
            .LeeLogo{
              border-radius: 50%;
              width:40%;
              margin-top: 2px;
              float: left;
              opacity: 0.8;
            }
            .TableNumberDiv {
              -webkit-transition-timing-function: ease;
              transition: 5s;
            }
            h2{
              letter-spacing: 0.5px;
              margin-top: 2px;
              font-size: 26px;
            }
            #OrderLisrID{
              letter-spacing: 1px;
            }
            .Title{
              margin-bottom: 15px;
            }
            .Allergy{
              font-size: 25px;
              color: #C40D01;
              .keyboard{
                color: black;
              }
              input{
                color: black;
                font-size: 15px;
              }
            }
            .orderlist{
              -webkit-transition-timing-function: ease;
              transition: 0s;
              border-top: $OrderListBorder;
              padding:20px 0 45px;
              height: 75%;
              max-height:480px;
              overflow: scroll;
                .SusurLogo{
                  width:70%;
                  height:auto;
                  opacity: 0.1;
                  position: absolute;
                  left: 50px;
                  top: 240px;
                }
                .Special2{
                  color:#41BD3C;
                  .keyboard{
                    color: black;
                  }
                  input{
                    color: black;
                  }
                }
                .Same-Time2{
                  color:#5C6CF3;
                }
                .Number{
                  color: black;
                }
            }
            .SendButton{
              border: 0px;
              box-shadow: 0 0 3px #888888;
              margin:5px;
              width:80%;
              background-color: #454545;
              color: white;
              border:$OrderListBorder;
            }
          }
          .ButtonsDiv{
            padding: 30px 30px 0 0;
            height: 720px;
            width:65%;
            display: inline-block;
            overflow: hidden;
              .Undo{
                color:white;
                background-color: #343434;
                width:97.4%;
                height: 10%;
                margin: 10px 0 0 0;
                border: 0px;
                box-shadow: 0 0 3px #888888;
              }
              .SpecialButtonsDiv{
                height:9%;
                .Allergy{
                  background-color:#C40D01;
                  // opacity: 50%;
                }
                .Special{
                  background-color: #CC524A;
                }
                .Same-Time{
                  background-color: #D68983;
                }
                .SingleSpecialButton{
                  border: 0px;
                  box-shadow: 0 0 3px #888888;
                  width:31.4%;
                  margin: 5px;
                  height:70%;
                  
                }
              }
              .TimeButtonsDiv{
                margin:2.5% 0;
                .SingleTimeButton{
                  box-shadow: 0px 0px 15px black;
                  color: white;
                  background-color: black;
                  opacity: 0.8;
                  border:1px solid black;
                  width: 18%;
                  margin:3px 5% ;
                  height:60px;
                  width:60px;
                  border-radius: 50%;
                }
              }
              .FoodButtonsDiv{
                height:86%;
                .LightGray{
                  background-color: #D9D9D9;
                }
                .Gray{
                  background-color: #A1A1A1;
                }
                .Vegeterian{
                  background-color: $LightGray;
                }
                .SingleFoodButton{
                  box-shadow: 0px 0px 10px #888888;
                  border: 0px solid $LightGray;
                  height: 10%;
                  width:18%;
                  margin:10px 8px;
                }
              }
          }
        }
        .BigChefsBoard{
          padding: 0 30px;
          width: 102%;
          min-height: 705px;
          background-color: $backgroundColor;
          background-image:url("./public/LeeBackground.svg");
          background-repeat: no-repeat;
          background-position: 50% 0;
          -ms-background-size: 87%;
          // background-size: cover;
          -moz-background-size: 87%;
          -webkit-background-size: 87%;
          background-size: 75%;
        }
          .ChefsBoard{
            padding: 30px 0;
            display: -webkit-flex;
            display: flex;      
            .OrderDiv{
              display: flex;
              -webkit-flex-direction: column;
              flex-direction: column;
              display: -webkit-flex;
              padding:0px;
            .TimeDiv{
                color:lightgrey;
                text-align: center;
              }
            .SingleOrder{
              flex-grow: 1;
              display: flex;
              display: -webkit-flex;
              -webkit-flex-direction: column;
              flex-direction: column;
              padding:0px;
              border-left: 2px solid $Gray;
              text-align: center;
              padding: 5px;
                .SingleFoodOrder{
                  flex-grow: 1;
                  font-size: 15px;
                }
                .RemoveDiv{
                  display: block;
                  margin: auto;
                  .RemoveButton{
                    background-color: $LightGray;
                    color: $Gray;
                    width: 35px;
                    margin: auto;
                    margin-top: 8px;
                    border: 1px solid $Gray;
                    border-radius: 50%;
                    font-size: 22px;
                    padding-top: 4px;
                  }
                }
                .SpecialInstructions{
                  color:$Green;
                }
                .BoardNumber{
                  color:$Gray;
                }
                .SingleDish{
                  margin:$MarginBtweenDishs;
                }
                .TableNumberDiv{
                  font-size: 40px;
                  margin:0;
                }
                .AllergyDiv{
                  min-height: 23.64px;
                  color:white;
                  margin:#414566;
                }
            }
          }
          }

    }
}

.keyboard {
  .keyboard-wrapper{
    display: inherit;
  }
}
.keyboard-submit-button{
  background-color:$SubmitButtonBackGround;
}

#sendbutton{
  transition: 0s;
}