$backgroundColor:white;
$WidthAndTypeDishBorder:2px solid;
$MarginBtweenDishs:2px 0 2px; 
$LighterBlue:#6D73AB;
$Blue:#2d3047;
$Purple:#c0b9dd;
$Pink:#D81159;
$LighterPink:#FF6382;
$Gray:#c4c4c4;
$OrderListBorder: 2px solid $Gray;
$NumberColor:#42B3BA;
$Green:#00A856;
$LightGray:#F2F2F2;

*{
  -webkit-transition-timing-function: ease;
  transition: 0.5s;
  background-color: $backgroundColor;
  input{
    text-align: center;
  }
    body { 
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      .NavBarDiv{
          background-color: $LightGray;
          height: 150px;
          padding: 0;
          height: 100%;
          width:100%;
          border-radius: 0;
            .NavBarLeftButton{
              width: 49.7%;
              height: 37px;
              color: black;
              text-align: center;
              background-color:$LightGray;
              padding-top: 9px;
              display: inline-block;
              border-right: 2px solid #c4c4c4;
                .NavBarOrderButton{
                  width: 49%;
                  margin: auto;
                  background-color: $LightGray;
                }
            }
            .NavBarRightButton{
              width: 49.7%;
              height: 37px;
              color: black;
              text-align: center;
              background-color:$LightGray;
              padding-top: 9px;
              display: inline-block;
              .NavBarBoardButton{
                background-color:$LightGray;
                width: 49%;
                margin: auto;
              }
            }
        }
        .OrderPage{
          text-align: center;
          height: 1300px;
          background-color: $backgroundColor;
          height: 100%;
          input{
            background-color:  $backgroundColor;
          }
          .NewOrder{
            text-align: center;
            box-shadow: 0px 0px 25px #888888;
            height:660px;
            background-color:  $backgroundColor;
            display:'inline-block';
            overflow:'auto';
            margin:30px;
            margin-left: 60px;
            max-width: 400px;
            padding-bottom: 25px;
            .Title{
              margin-bottom: 15px;
            }
            .Allergy{
              font-size: 25px;
              color: $LighterPink;
              .keyboard{
                color: black;
              }
              input{
                color: black;
                font-size: 15px;
              }
            }
            .orderlist{
              border-top: $OrderListBorder;
              padding:20px 0 45px;
              height: 75%;
              max-height:480px;
              overflow: scroll;
                .Special2{
                  color:$LighterBlue;
                  .keyboard{
                    color: black;
                  }
                  input{
                    color: black;
                  }
                }
                .Same-Time2{
                  color:$Purple;
                }
                .Number{
                  color: $NumberColor;
                }
            }
            .SendButton{
              margin:5px;
              width:80%;
              background-color: $Blue;
              color: white;
              border:$OrderListBorder;
            }
          }
          .ButtonsDiv{
            padding: 30px 30px 0 0;
            height: 720px;
            width:65%;
            display: inline-block;
            overflow: hidden;
              .Undo{
                background-color: $LightGray;
                width:97.4%;
                height: 10%;
                margin-top: 10px;

              }
              .SpecialButtonsDiv{
                height:9%;
                .Allergy{
                  background-color: $LighterPink;
                  opacity: 50%;
                }
                .Special{
                  background-color: $LighterBlue;
                }
                .Same-Time{
                  background-color: $Purple;
                }
                .SingleSpecialButton{
                  width:31.4%;
                  margin: 5px;
                  height:70%;
                  
                }
              }
              .TimeButtonsDiv{
                margin:2.5% 0;
                .SingleTimeButton{
                  background-color: $Gray;
                  width: 18%;
                  margin:3px 5% ;
                  height:60px;
                  width:60px;
                  border-radius: 50%;
                }
              }
              .FoodButtonsDiv{
                height:86%;
                .LightGray{
                  background-color: #D9D9D9;
                }
                .Gray{
                  background-color: #A1A1A1;
                }
                .SingleFoodButton{
                  height: 10%;
                  width:18%;
                  margin:10px 8px;
                }
              }
          }
        }
        .ChefsBoard{
          padding:30px;
          .SingleOrder{
            border-left: 2px solid $Gray;
            text-align: center;
            display: inline-block;
            padding: 5px;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            flex-direction: column;
              .SingleFoodOrder{
                font-size: 15px;
                flex-grow: 1;
              }
              .RemoveDiv{
                display: block;
                margin: auto;
                .RemoveButton{
                  background-color: $LightGray;
                  color: $Gray;
                  width: 35px;
                  margin: auto;
                  margin-top: 8px;
                  border: 1px solid $Gray;
                  border-radius: 50%;
                  font-size: 22px;
                  padding-top: 4px;
                }
              }
              .SpecialInstructions{
                color:$Green;
              }
              .BoardNumber{
                color:$Gray;
              }
              .SingleDish{
                margin:$MarginBtweenDishs;
              }
              .TableNumberDiv{
                font-size: 40px;
                margin:0;
              }
              .AllergyDiv{
                min-height: 19.09px;
                color: white;
                // background-color: $LightGray;
                margin:#414566;
              }
          }
        }

    }
}
.keyboard {
  .keyboard-wrapper{
    display: inherit;
  }
}

#sendbutton{
  transition: 0s;
}