* {
  -webkit-transition-timing-function: ease;
  transition: 0.5s;
  background-color: white; }
  * input {
    text-align: center; }
  * body {
    margin: 0;
    padding: 0;
    font-family: sans-serif; }
    * body .NavBarDiv {
      background-color: #F2F2F2;
      height: 150px;
      padding: 0;
      height: 100%;
      width: 100%;
      border-radius: 0; }
      * body .NavBarDiv .NavBarLeftButton {
        width: 49.7%;
        height: 37px;
        color: black;
        text-align: center;
        background-color: #F2F2F2;
        padding-top: 9px;
        display: inline-block;
        border-right: 2px solid #c4c4c4; }
        * body .NavBarDiv .NavBarLeftButton .NavBarOrderButton {
          width: 49%;
          margin: auto;
          background-color: #F2F2F2; }
      * body .NavBarDiv .NavBarRightButton {
        width: 49.7%;
        height: 37px;
        color: black;
        text-align: center;
        background-color: #F2F2F2;
        padding-top: 9px;
        display: inline-block; }
        * body .NavBarDiv .NavBarRightButton .NavBarBoardButton {
          background-color: #F2F2F2;
          width: 49%;
          margin: auto; }
    * body .OrderPage {
      text-align: center;
      height: 1300px;
      background-color: white;
      height: 100%; }
      * body .OrderPage input {
        background-color: white; }
      * body .OrderPage .NewOrder {
        text-align: center;
        box-shadow: 0px 0px 25px #888888;
        height: 660px;
        background-color: white;
        display: 'inline-block';
        overflow: 'auto';
        margin: 30px;
        margin-left: 60px;
        max-width: 400px;
        padding-bottom: 25px; }
        * body .OrderPage .NewOrder .Title {
          margin-bottom: 15px; }
        * body .OrderPage .NewOrder .Allergy {
          font-size: 25px;
          color: #FF6382; }
          * body .OrderPage .NewOrder .Allergy .keyboard {
            color: black; }
          * body .OrderPage .NewOrder .Allergy input {
            color: black;
            font-size: 15px; }
        * body .OrderPage .NewOrder .orderlist {
          border-top: 2px solid #c4c4c4;
          padding: 20px 0 45px;
          height: 75%;
          max-height: 480px;
          overflow: scroll; }
          * body .OrderPage .NewOrder .orderlist .Special2 {
            color: #6D73AB; }
            * body .OrderPage .NewOrder .orderlist .Special2 .keyboard {
              color: black; }
            * body .OrderPage .NewOrder .orderlist .Special2 input {
              color: black; }
          * body .OrderPage .NewOrder .orderlist .Same-Time2 {
            color: #c0b9dd; }
          * body .OrderPage .NewOrder .orderlist .Number {
            color: #42B3BA; }
        * body .OrderPage .NewOrder .SendButton {
          margin: 5px;
          width: 80%;
          background-color: #2d3047;
          color: white;
          border: 2px solid #c4c4c4; }
      * body .OrderPage .ButtonsDiv {
        padding: 30px 30px 0 0;
        height: 720px;
        width: 65%;
        display: inline-block;
        overflow: hidden; }
        * body .OrderPage .ButtonsDiv .Undo {
          background-color: #F2F2F2;
          width: 97.4%;
          height: 10%;
          margin-top: 10px; }
        * body .OrderPage .ButtonsDiv .SpecialButtonsDiv {
          height: 9%; }
          * body .OrderPage .ButtonsDiv .SpecialButtonsDiv .Allergy {
            background-color: #FF6382;
            opacity: 50%; }
          * body .OrderPage .ButtonsDiv .SpecialButtonsDiv .Special {
            background-color: #6D73AB; }
          * body .OrderPage .ButtonsDiv .SpecialButtonsDiv .Same-Time {
            background-color: #c0b9dd; }
          * body .OrderPage .ButtonsDiv .SpecialButtonsDiv .SingleSpecialButton {
            width: 31.4%;
            margin: 5px;
            height: 70%; }
        * body .OrderPage .ButtonsDiv .TimeButtonsDiv {
          margin: 2.5% 0; }
          * body .OrderPage .ButtonsDiv .TimeButtonsDiv .SingleTimeButton {
            background-color: #c4c4c4;
            width: 18%;
            margin: 3px 5%;
            height: 60px;
            width: 60px;
            border-radius: 50%; }
        * body .OrderPage .ButtonsDiv .FoodButtonsDiv {
          height: 86%; }
          * body .OrderPage .ButtonsDiv .FoodButtonsDiv .LightGray {
            background-color: #D9D9D9; }
          * body .OrderPage .ButtonsDiv .FoodButtonsDiv .Gray {
            background-color: #A1A1A1; }
          * body .OrderPage .ButtonsDiv .FoodButtonsDiv .SingleFoodButton {
            height: 10%;
            width: 18%;
            margin: 10px 8px; }
    * body .ChefsBoard {
      padding: 30px; }
      * body .ChefsBoard .SingleOrder {
        border-left: 2px solid #c4c4c4;
        text-align: center;
        display: inline-block;
        padding: 5px;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column; }
        * body .ChefsBoard .SingleOrder .SingleFoodOrder {
          font-size: 15px;
          flex-grow: 1; }
        * body .ChefsBoard .SingleOrder .RemoveDiv {
          display: block;
          margin: auto; }
          * body .ChefsBoard .SingleOrder .RemoveDiv .RemoveButton {
            background-color: #F2F2F2;
            color: #c4c4c4;
            width: 35px;
            margin: auto;
            margin-top: 8px;
            border: 1px solid #c4c4c4;
            border-radius: 50%;
            font-size: 22px;
            padding-top: 4px; }
        * body .ChefsBoard .SingleOrder .SpecialInstructions {
          color: #00A856; }
        * body .ChefsBoard .SingleOrder .BoardNumber {
          color: #c4c4c4; }
        * body .ChefsBoard .SingleOrder .SingleDish {
          margin: 2px 0 2px; }
        * body .ChefsBoard .SingleOrder .TableNumberDiv {
          font-size: 40px;
          margin: 0; }
        * body .ChefsBoard .SingleOrder .AllergyDiv {
          min-height: 19.09px;
          color: white;
          margin: #414566; }

.keyboard .keyboard-wrapper {
  display: inherit; }

#sendbutton {
  transition: 0s; }

/*# sourceMappingURL=SassStyle.css.map */
