* {
  -webkit-transition-timing-function: ease;
  transition: 0.5s; }
  * input {
    text-align: center; }
  * body {
    margin: 0;
    padding: 0;
    font-family: sans-serif; }
    * body .NavBarDiv {
      font-size: larger;
      letter-spacing: 2px;
      background-color: #222222;
      height: 150px;
      padding: 0;
      height: 100%;
      width: 100%;
      border-radius: 0; }
      * body .NavBarDiv .NavBarLeftButton {
        width: 49.7%;
        height: 43px;
        color: white;
        text-align: center;
        background-color: #222222;
        padding-top: 9px;
        display: inline-block;
        border-right: 2px solid #c4c4c4; }
        * body .NavBarDiv .NavBarLeftButton .NavBarOrderButton {
          width: 49%;
          margin: auto;
          background-color: #222222; }
      * body .NavBarDiv .NavBarRightButton {
        width: 49.7%;
        height: 43px;
        color: white;
        text-align: center;
        background-color: #222222;
        padding-top: 9px;
        display: inline-block; }
        * body .NavBarDiv .NavBarRightButton .NavBarBoardButton {
          background-color: #222222;
          width: 49%;
          margin: auto; }
    * body .OrderPage {
      text-align: center;
      height: 1300px;
      background-color: #F2F2F2;
      height: 100%; }
      * body .OrderPage .NewOrder {
        text-align: center;
        box-shadow: 0px 0px 25px #888888;
        height: 660px;
        background-color: #F2F2F2;
        display: 'inline-block';
        overflow: 'auto';
        margin: 30px;
        margin-left: 60px;
        max-width: 400px;
        padding-bottom: 25px;
        padding-top: 5px; }
        * body .OrderPage .NewOrder .LeeLogo {
          border-radius: 50%;
          width: 40%;
          margin-top: 2px;
          float: left;
          opacity: 0.8; }
        * body .OrderPage .NewOrder .TableNumberDiv {
          -webkit-transition-timing-function: ease;
          transition: 5s; }
        * body .OrderPage .NewOrder h2 {
          letter-spacing: 0.5px;
          margin-top: 2px;
          font-size: 26px; }
        * body .OrderPage .NewOrder #OrderLisrID {
          letter-spacing: 1px; }
        * body .OrderPage .NewOrder .Title {
          margin-bottom: 15px; }
        * body .OrderPage .NewOrder .Allergy {
          font-size: 25px;
          color: #f51201; }
          * body .OrderPage .NewOrder .Allergy .keyboard {
            color: black; }
          * body .OrderPage .NewOrder .Allergy input {
            color: black;
            font-size: 15px; }
        * body .OrderPage .NewOrder .orderlist {
          -webkit-transition-timing-function: ease;
          transition: 0s;
          border-top: 2px solid #c4c4c4;
          padding: 20px 0 45px;
          height: 75%;
          max-height: 480px;
          overflow: scroll; }
          * body .OrderPage .NewOrder .orderlist .SusurLogo {
            width: 70%;
            height: auto;
            opacity: 0.1;
            position: absolute;
            left: 50px;
            top: 240px; }
          * body .OrderPage .NewOrder .orderlist .Special2 {
            color: #41BD3C; }
            * body .OrderPage .NewOrder .orderlist .Special2 .keyboard {
              color: black; }
            * body .OrderPage .NewOrder .orderlist .Special2 input {
              color: black; }
          * body .OrderPage .NewOrder .orderlist .Same-Time2 {
            color: #5C6CF3; }
          * body .OrderPage .NewOrder .orderlist .Number {
            color: black; }
        * body .OrderPage .NewOrder .SendButton {
          border: 0px;
          box-shadow: 0 0 3px #888888;
          margin: 5px;
          width: 80%;
          background-color: #454545;
          color: white;
          border: 2px solid #c4c4c4; }
      * body .OrderPage .ButtonsDiv {
        padding: 30px 30px 0 0;
        height: 720px;
        width: 65%;
        display: inline-block;
        overflow: hidden; }
        * body .OrderPage .ButtonsDiv .Undo {
          color: white;
          background-color: #343434;
          width: 97.4%;
          height: 10%;
          margin: 10px 0 0 0;
          border: 0px;
          box-shadow: 0 0 3px #888888; }
        * body .OrderPage .ButtonsDiv .SpecialButtonsDiv {
          height: 9%; }
          * body .OrderPage .ButtonsDiv .SpecialButtonsDiv .Allergy {
            background-color: #f51201;
            opacity: 50%; }
          * body .OrderPage .ButtonsDiv .SpecialButtonsDiv .Special {
            background-color: #FF7167; }
          * body .OrderPage .ButtonsDiv .SpecialButtonsDiv .Same-Time {
            background-color: #F59D96; }
          * body .OrderPage .ButtonsDiv .SpecialButtonsDiv .SingleSpecialButton {
            border: 0px;
            box-shadow: 0 0 3px #888888;
            width: 31.4%;
            margin: 5px;
            height: 70%; }
        * body .OrderPage .ButtonsDiv .TimeButtonsDiv {
          margin: 2.5% 0; }
          * body .OrderPage .ButtonsDiv .TimeButtonsDiv .SingleTimeButton {
            box-shadow: 0px 0px 15px black;
            color: white;
            background-color: black;
            opacity: 0.8;
            border: 1px solid black;
            width: 18%;
            margin: 3px 5%;
            height: 60px;
            width: 60px;
            border-radius: 50%; }
        * body .OrderPage .ButtonsDiv .FoodButtonsDiv {
          height: 86%; }
          * body .OrderPage .ButtonsDiv .FoodButtonsDiv .LightGray {
            background-color: #D9D9D9; }
          * body .OrderPage .ButtonsDiv .FoodButtonsDiv .Gray {
            background-color: #A1A1A1; }
          * body .OrderPage .ButtonsDiv .FoodButtonsDiv .SingleFoodButton {
            box-shadow: 0px 0px 10px #888888;
            border: 0px solid #F2F2F2;
            height: 10%;
            width: 18%;
            margin: 10px 8px; }
    * body .ChefsBoard {
      padding: 0 30px;
      width: 102%;
      min-height: 705px;
      background-color: #F2F2F2;
      background-image: url("./public/LeeBackground.svg");
      background-repeat: no-repeat;
      background-position: 50% 0;
      -ms-background-size: 87%;
      -moz-background-size: 87%;
      -webkit-background-size: 87%;
      background-size: 75%; }
      * body .ChefsBoard .OrderDiv {
        padding: 0px; }
        * body .ChefsBoard .OrderDiv .TimeDiv {
          padding-top: 30px;
          color: lightgrey;
          text-align: center; }
        * body .ChefsBoard .OrderDiv .SingleOrder {
          padding: 0px;
          border-left: 2px solid #c4c4c4;
          text-align: center;
          display: inline-block;
          padding: 5px;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          flex-direction: column; }
          * body .ChefsBoard .OrderDiv .SingleOrder .SingleFoodOrder {
            font-size: 15px; }
          * body .ChefsBoard .OrderDiv .SingleOrder .RemoveDiv {
            display: block;
            margin: auto; }
            * body .ChefsBoard .OrderDiv .SingleOrder .RemoveDiv .RemoveButton {
              background-color: #F2F2F2;
              color: #c4c4c4;
              width: 35px;
              margin: auto;
              margin-top: 8px;
              border: 1px solid #c4c4c4;
              border-radius: 50%;
              font-size: 22px;
              padding-top: 4px; }
          * body .ChefsBoard .OrderDiv .SingleOrder .SpecialInstructions {
            color: #00A856; }
          * body .ChefsBoard .OrderDiv .SingleOrder .BoardNumber {
            color: #c4c4c4; }
          * body .ChefsBoard .OrderDiv .SingleOrder .SingleDish {
            margin: 2px 0 2px; }
          * body .ChefsBoard .OrderDiv .SingleOrder .TableNumberDiv {
            font-size: 40px;
            margin: 0; }
          * body .ChefsBoard .OrderDiv .SingleOrder .AllergyDiv {
            min-height: 23.64px;
            color: white;
            margin: #414566; }

.keyboard .keyboard-wrapper {
  display: inherit; }

.keyboard-submit-button {
  background-color: #A32C23; }

#sendbutton {
  transition: 0s; }

/*# sourceMappingURL=SassStyle.css.map */
